.panier-container {
    padding: 20px;
    text-align: center;
  }
  
  .ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .ingredient-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ingredient-image {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  